body {
  font-family: "Fira Sans", sans-serif;
}

$headings: 1 2 3 4 5 6;

@each $h in $headings {
  h#{$h} {
    font-weight: bold;
    @extend .mb-3;
  }
}

$multipliers: 2 3 4;
$sizes: 8 12 16 24;

// Itera sobre los múltiplos y tamaños para generar las clases
@each $multiplier in $multipliers {
  @each $size in $sizes {
    .sqr-#{$multiplier * $size} {
      width: $multiplier * $size + px;
      height: $multiplier * $size + px;
    }
  }
}

/**
* Global styles
*/

.btn {
  font-weight: bold;
  border-radius: 1.25rem;
}

.btn-primary {
  color: white !important;
}

.pointer { cursor: pointer }
.fit-cover { object-fit: cover }

.list-none {
  list-style: none;
  padding-left: 0;
}

.bg-primary-subtle {
  background-color: #fffcf7 !important;
  color: #4f3504 !important;
}

@media (min-width: 576px) {
  .mt-sm-2 {
    margin-top: 0.5rem !important;
  }
}

/**
* Components
*
*/

.badge-argentina {
  background-color: #f1f8ff;
  color: #226fb5;
  font-size: 1rem;
}

/* product card */

.product-article-image {
  width: 100%;
  height: 120px;
  object-fit: contain;
  background: white;
}

/**
* Header and nav
**/

.header-text-logo {
  font-size: 1.1rem;
  margin-left: .5rem;
  margin-bottom: 0 !important;
  font-weight: 400;
}

.header-logo-img {
  width: 32px;
}

.header-nav-wpp {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #25d366;
}

.flex-button-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 768px) {
  .header-logo-img {
    width: 52px;
  }
  .header-text-logo {
    font-size: 1.5rem;
  }
  .flex-button-nav {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
@media (min-width: 576px) {
  .header-logo-img {
    width: 42px;
  }
}

/* end header nav */

/**
* Home
*/

.hero {
  background-image: url('/images/hero_background_sm.webp');
  background-size: cover;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

@media (min-width: 768px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.review-content {
  font-size: 1.12rem;
  font-style: italic;
  margin-bottom: .5rem;
  margin-top: .25rem;
  font-weight: 700;
}


/* end Home */

/**
* Product View
*/

.carousel {
  --vc-nav-background: rgba(0, 0, 0, 0.3);
  --vc-nav-color: white;
  --vc-nav-color-hover: #e5e5e5;
  --vc-nav-border-radius: 50%;
  --vc-nav-width: 40px;
  --vc-nav-height: 40px;

  --vc-pgn-background-color: rgb(199, 199, 199);
  --vc-pgn-active-color: rgb(236, 36, 36);
  --vc-pgn-border-radius: 100%;
  --vc-pgn-height: 10px;
  --vc-pgn-width: 10px;
}

.product-gallery-image {
  width: 90%;
  height: 320px;
  object-fit: contain;
}

/* end product view */

/**
* Help view
*/

.video-container {
  background: #000;
  padding: 4px;
}

.video-container video {
  height: 280px;
  object-fit: contain;
}

/* help view */